

.timeline{
    background-color:#fff;
    font-family: "Source Sans Pro";
    color: #0d131b;
  }
  
   .timeline-h1{
    text-align:center;
    font-size: 40px;
  }
  
  .timeline-ul {
    padding: 50px 0;
  }
  
   .timeline-ul li {
    position:relative;
    list-style-type: none;
    width: 6px;
    background-color: rgb(13, 12, 12);
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .timeline-ul li::after {
    background: rgb(32, 31, 31);
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 0;
    }
    
  .pot {
    position: relative;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    background: #d6d7d8;
    bottom: 2.5rem;
    
    display: block;
    
  }
  .pot0{
    animation: linear  alternate;
    animation-name: run1;
    animation-duration: 3s;
  }
  
  .pot1{
    animation: linear  alternate;
    animation-name: run2;
    animation-duration: 3s;
  }
  
  @-webkit-keyframes run1 {
      0% {
        left: 0;
        transform: translateX(200%);
      }
      100% {
        left: 100%;
        transform: translateX(10%);
      }
  }
   
  @-webkit-keyframes run2 {
    0% {
      left: 0;
      transform: translateX(-300%);
    }
    100% {
      left: 100%;
      transform: translateX(-120%);
    }
  }
  
  
  .timeline-ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline-ul li:nth-child(even) div {
    left: -445px;
  }
  
   time {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  
   .pot {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  
   .timeline-ul li:nth-child(odd) div {
    transform: translate3d(20px, 0, 0);
  }
  
   .timeline-ul li:nth-child(even) div {
    transform: translate3d(-20px, 0, 0);
  }
  
   .pot {
    transform: none;
    visibility: visible;
    opacity:1;
  }
  
  @media screen and (max-width: 900px) {
    .pot {
      width: 250px;
    }
   .timeline-ul li:nth-child(even) div {
      left: -289px;
      
    }
  }
    